// .css-b7dj7n-MuiList-root{
//     left: 5%;
// }

.sidebar {
    background-color: #F5F4FF;


    &-header {
        display: flex;
        align-items: center;
        padding: 1rem;
        height: 80px;

        .brand {
            margin-right: 50px;
            font-weight: bold;
            margin-left: 10px;
        }
        }


        .sidebar-avatar {
            width: 50px;
            height: 50px;
            background-color: #8470FF;
        }
    }

    .toggle-btn {
        width: 100%; /* Chiếm toàn bộ chiều ngang */
        display: flex;
        justify-content: flex-end; /* Đẩy icon sang bên phải */
        align-items: center;

         .sidebar-toggle-icon{
             padding: 2px;
             border-radius: 40px;
             border: 1px solid #404042;
             height: 20px;
             width: 20px;
         }

    .MuiListItemButton-root {
        transition: background-color 0.1s;
        margin: 5px 10px;
        border-radius: 30px;

        &:hover {
            background-color: #8f82ee ;
        }

        &.active {
            background-color: #8470FF;
            color: white;

            .icon {
                color: white;
            }
        }
    }

    .MuiListItemIcon-root {
        min-width: 40px;
        color: #8470FF;
    }

    &.collapsed .MuiListItemText-root {
        display: none;
    }

}

.sidebar-header {
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;

    .sidebar-avatar {
        margin-right: 10px;
        background-color: #8470FF;
    }

    .toggle-btn {
        margin-left: auto;
    }
}

.sidebar-item {
    transition: background-color 0.3s;

    &.active {
        border-radius: 30px;
        background-color: #8470FF;
        color: white;

        .MuiListItemIcon-root {
            color:#fff;
        }
    }

    &:hover {
        border-radius: 30px;
        background-color: #bab1f4 !important;
    }
}
